body {
	padding: 60px 0px;
}

.navbar-collapse {
	position: relative;
	padding-top: 30px !important;
	max-height: 270px;
}

@media ( min-width : 768px) {
	.navbar-collapse {
		padding-top: 0px !important;
		padding-right: 38px !important;
	}
}

.navbar-brand {
	cursor: pointer;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
input.notfound {
    border: 2px solid rgba(255, 0, 0, 0.4);
}
#map-canvas, #map_canvas {
    height: 420px;
    width:420px;
    background-color: #CCC
}
